.checkout{
   padding-top: 30px;
    margin-left: 20px;
    display: flex;
    height: 100%;
    
}



.checkout__firstTitle{
    display: flex;
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 900;
    background:rgba(229, 211, 179, 0.9);;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px #ffe6c5;
}



.checkout__secondTitle{
    font-family: 'Roboto';
    font-weight: 900;
    background-color: rgba(229, 211, 179, 0.9);
    box-shadow: 2px 2px 5px #ffe6c5;
    padding: 10px  ;
}



